*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    height: 20%;
    background-color: #a95900;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    width: 100%;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: large;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
main h1{
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    padding: 20px;
}
main h2{
    color:  #9b5635;
    font-size: 30px;
    padding: 5px;
}
main section{
    align-items: center;
    text-align: center;
    padding: 20px;
}
main section article{
    padding: 20px;
}
main section article img{
    width: 350px;
    height: 250px;
}
footer {
    width: 100%;
    display: flex;
    background-color: #a95900;
    color: white; 
    font-weight: 300;   
}
footer section{
    width: 100%;
    display: flex;
    padding: 20px;
}
footer section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.esquerda{
    width: 50%;
    text-align: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.direita{
    width: 50%;
    align-self: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width: 100px;
    height: 80px;
}
.madeirasL{
    width: 200px;
    height: 200px;
    align-self: center;
}
.sombra{
    box-shadow: 5px 5px  5px 5px gray;
}
@media screen and (max-width: 640px) {
    header{
        display: flex;
        height: 20%;
        justify-content: space-between;
        padding: 0 20px;
    }
    header ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    main section{
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    main section article img{
        width: 250px;
        height: 200px;
    }
    main section article{
        padding-bottom: 20px;
    }
    .logo{
        width: 75px;
        height: 70px;
    }
    }
    